In [1]:
letters= ["a","b","c"]
matrix = [[0,1],[2,3]]
zeros=[0]*100

In [2]:
zeros=[0]*5
combined = zeros + letters

In [3]:
print(combined)

[0, 0, 0, 0, 0, 'a', 'b', 'c']

In [4]:
numbers=list(range(20))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
chars = list("Hello World")
print(chars)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [6]:
print(len(chars))

11

# Accessing Item

In [7]:
letters= ["a","b","c","d"]
print(letters[0])
print(letters[-1])

a
d

In [8]:
#modify
letters[0]="A"
print(letters)

['A', 'b', 'c', 'd']

In [9]:
print(letters[0:3])
print(letters[:3])
print(letters[0:])
print(letters[:])
print(letters[::2])

['A', 'b', 'c']
['A', 'b', 'c']
['A', 'b', 'c', 'd']
['A', 'b', 'c', 'd']
['A', 'c']

In [10]:
numbers = list(range(20))

In [11]:
numbers[::2]
numbers[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Unpacking List

In [12]:
numbers = [1,2,3]
first = numbers[0]
second = numbers[1]
third = numbers[2]

In [13]:
#unpack into multiple variable
numbers = [1,2,3]
first,second,third = numbers

In [14]:
#without first and 2nd element all other elements goes to other
numbers = [1,2,3,4,6,4,7,2]
first,second,*other = numbers
print(first)
print(other)

1
[3, 4, 6, 4, 7, 2]

In [15]:
numbers = [1,2,3,4,6,4,7,2]
first,*other,last = numbers
print(first,last)
print(other)

1 2
[2, 3, 4, 6, 4, 7]

# looping over list

In [16]:
letters= ["a","b","c"]
for letter in enumerate(letters):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')

In [17]:
#enumerate built in function
#return an enumerate object and its iterable
#each iteration it will give a tuple
#tuple like a list but its read-only

In [18]:
letters= ["a","b","c"]
for index,letter in enumerate(letters):
    print(index,letter)

0 a
1 b
2 c

In [19]:
#Adding Or Removing Items

In [20]:
letters= ["a","b","c"]

#Add at the end
letters.append("d")
print(letters)

['a', 'b', 'c', 'd']

In [21]:
#Add at a specefic position
letters.insert(2,"-")
print(letters)

['a', 'b', '-', 'c', 'd']

In [22]:
#Remove at the end
letters.pop()
print(letters)

['a', 'b', '-', 'c']

In [23]:
letters.pop(2)
print(letters)

['a', 'b', 'c']

In [24]:
#Remove an object but dnt know its index
letters.remove("b")
print(letters)

['a', 'c']

In [25]:
#also use delete for removing items
numbers = [1,2,3,4,5]
del numbers[0:3]
#can delete a range of item
print(numbers)

[4, 5]

In [26]:
#clear
numbers.clear()
print(numbers)

[]

# Finding Items

In [27]:
letters= ["a","b","c"]
print(letters.index("a"))
#take an object that doesent exist
print(letters.index("d"))

0

ValueError: 'd' is not in list

In [ ]:
if "d" in letter:
    print(letters.index("d"))

In [ ]:
letters.count("d")

In [ ]:
#Sorting list

In [ ]:
numbers = [3,51,2,8,6]
numbers.sort()
numbers

In [ ]:
numbers.sort(reverse=True)
numbers

In [ ]:
numbers = [3,51,2,8,6]
print(sorted(numbers))
print(numbers)

In [ ]:
print(sorted(numbers,reverse=True))

In [ ]:
items= [
    ("Product1",10),
    ("Product2",9),
    ("Product3",12),
]

items.sort()
print(items)

In [ ]:
#python doesnt know how to sort this list

In [ ]:
def sort_item(item):
    return item[1]
    
items.sort(key=sort_item)
print(items)

# Lambda function

In [ ]:
#lambda(key=lambda parameter:expression)
items.sort(key=lambda item:item[1])
print(items)

# Map Function

In [ ]:
items= [
    ("Product1",10),
    ("Product2",9),
    ("Product3",12),
]

prices = []

for item in items:
    prices.append(item[1])
    
print(prices)

In [ ]:
#better way to achive the same result

In [ ]:
x = map(lambda item: item[1],items) #take 2 parameter
x #return a map object

In [ ]:
for item in x:
    print(item)

In [ ]:
prices = list(map(lambda item: item[1],items))

In [ ]:
print(prices)

In [ ]:
#Filter Function

In [ ]:
filterd= list(filter(lambda item: item[1] >= 10, items))
print(filterd)

# List Comprehension

In [ ]:
prices = list(map(lambda item: item[1],items))
filterd= list(filter(lambda item: item[1] >= 10, items))

#we get same result if we use listt comprehension
#[expression for item in item]

prices2= [item[1] for item in items]
print(prices2)

filterd2 = [item for item in items if item[1] >=10]
print(filterd2)

In [ ]:
#zip Function

In [ ]:
list1 = [1,2,3]
list2 =[10,20,30]

#combined into single list

In [ ]:
print(list(zip(list1,list2)))

In [ ]:
print(list(zip("abc",list1,list2)))

# Stack

In [ ]:
#last in first out

In [ ]:
browsing_session = []
browsing_session.append(1)

In [ ]:
browsing_session.append(2)
browsing_session.append(3)
browsing_session.append(4)
browsing_session

In [ ]:
last = browsing_session.pop()
print(last)

In [ ]:
browsing_session

In [ ]:
print("redirect",browsing_session[-1])

In [ ]:
#check if the stack is empty
if not browsing_session:
    print("disable back button")

In [ ]:
browsing_session = []
browsing_session.append(1)
browsing_session.pop()
if not browsing_session:
    browsing_session[-1]

# Queues

In [28]:
#First in First Out

In [30]:
from collections import deque

In [31]:
queue = deque([])
queue.append(1)
queue.append(2)
queue.append(3)
queue.popleft()
print(queue)

deque([2, 3])

In [32]:
if not queue:
    print("Empty")

# Tuple

In [33]:
point = (1,2)
print(type(point))

<class 'tuple'>

In [34]:
point = 1,
print(type(point))

<class 'tuple'>

In [36]:
point = (1,2) + (3,4)
print(point)

(1, 2, 3, 4)

In [37]:
point = (1,2) *3
print(point)

(1, 2, 1, 2, 1, 2)

In [38]:
point= tuple([1,2,3])
print(point)

(1, 2, 3)

In [39]:
print(point[0])
print(point[0:2])
x,y,z = point
if 10 in point:
    print("exist")

1
(1, 2)

In [40]:
point[0]=10

TypeError: 'tuple' object does not support item assignment

# Swapping Variable

In [41]:
x=10
y=11

x,y=y,x

print("x",x)
print("y",y)

x 11
y 10

# Arrays

In [42]:
#use for large list of numbers

In [43]:
from array import array

In [48]:
numbers = array("i",[1,2,3,4])
# i= int [typecode]

In [49]:
numbers.append(5)

In [50]:
numbers.insert(2,67)
numbers

array('i', [1, 2, 67, 3, 4, 5])

In [51]:
print(numbers)

array('i', [1, 2, 67, 3, 4, 5])

In [52]:
numbers[0]=1.0

TypeError: 'float' object cannot be interpreted as an integer

# Sets

In [54]:
#a collections with no duplicates

In [58]:
numbers = [1,1,2,3,2,3,4]
first=set(numbers)
second = {1,5}

In [62]:
print(first | second)
print(first & second)
print(first - second)
print(first ^ second)

{1, 2, 3, 4, 5}
{1}
{2, 3, 4}
{2, 3, 4, 5}

In [65]:
#print(first[0]) cant check
if 1 in first:
    print("yes")

yes

# Dictionary

In [66]:
# a collection of key value pairs

In [67]:
# name->contact
# name= key, contact=value

In [68]:
point={"x":1,"y":2}
# only use immutable types for keys

In [69]:
point = dict(x=1,y=2)
point["x"]

1

In [70]:
point["x"]=10
print(point)

{'x': 10, 'y': 2}

In [71]:
point["z"]=20

In [72]:
# print(point["a"])
if "a" in point:
    print(point["a"])

In [74]:
print(point.get("a"))
print(point.get("a",0))

None
0

In [75]:
del point["x"]
print(point)

{'y': 2, 'z': 20}

In [76]:
for i in point: #get key
    print(i)

y
z

In [77]:
for key in point: #get key
    print(key,point[key])

y 2
z 20

In [78]:
for x in point.items():
    print(x)

('y', 2)
('z', 20)

In [79]:
#unpack
for key,value in point.items():
    print(key,value)

y 2
z 20

# Dictionary Comprehension

In [80]:
values = []
for x in range(5):
    values.append(x*2)

In [81]:
#[x*2 for x in range(5)]  comprehension

In [82]:
values=[x*2 for x in range(5)]

In [83]:
values

[0, 2, 4, 6, 8]

In [84]:
values={x*2 for x in range(5)}
values

{0, 2, 4, 6, 8}

In [85]:
#create dictionary using comprehension
values={x:x*2 for x in range(5)} #x:->key
values

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

# Generator Expression

In [87]:
#Generator object is iterable

In [89]:
values=(x*2 for x in range(5))
values
for x in values:
    print(x)

0
2
4
6
8

In [90]:
#get size of the generator

In [91]:
from sys import getsizeof

In [95]:
values=(x*2 for x in range(1000))
print("gen:",getsizeof(values))

gen: 104

In [96]:
values=(x*2 for x in range(100000))
print("gen:",getsizeof(values))
values=[x*2 for x in range(100000)]
print("list:",getsizeof(values))

gen: 104
list: 800984

In [98]:
values=(x*2 for x in range(1000))
print("gen:",getsizeof(values))
# print(len(values)) get error

gen: 104

# Unpacking Operator

In [101]:
numbers = [1,2,3]
print(numbers)

[1, 2, 3]

In [103]:
# print individual number
print(1,2,3)

1 2 3

In [104]:
print(*numbers) #unpacking operator

1 2 3

In [105]:
value=list(range(5))
print(value)

[0, 1, 2, 3, 4]

In [107]:
values[range(5)]

SyntaxError: invalid syntax (2295592307.py, line 1)